<?xml version="1.0"?>
<context>
  <preserve>false</preserve>
  <username />
  <password />
  <feedBaseURI>http://spreadsheets.google.com/feeds/spreadsheets/</feedBaseURI>
  <keys>
    <Key name="languagemissions_f_epa">
      <feedKey>0AoIUQevB0Yo9dHlwaTN4ZnhUckV3RWlibjZuQWY3RWc</feedKey>
      <feedKey>0AoIUQevB0Yo9dGs0ZTJDYTZ4YlA3Wkw2dXdFYXN5TlE</feedKey>
      <feedKey>0AoIUQevB0Yo9dDRRVkRma29ROWMxamQ2elhFN2VXaUE</feedKey>
      <feedKey>0AoIUQevB0Yo9dF9PRDZXLVI5akxwUXphTDFGbFRtcFE</feedKey>
      <feedKey>0AoIUQevB0Yo9dER1NmdqVzZaODYzaUZMTktpc0hudnc</feedKey>
      <feedKey>0AoIUQevB0Yo9dE1Hc0FQYWJRSDBoN3lkbVNBQ0ZuOXc</feedKey>
      <feedKey>0AoIUQevB0Yo9dHVITUw3cFFGS0pQUjUtdW5RaWZpTFE</feedKey>
      <feedKey>0AoIUQevB0Yo9dHpzS01XRl9FTGpIOVRIQUJISWN3dXc</feedKey>
      <feedKey>0AoIUQevB0Yo9dFBhZDFZRnpmbS1mUHhSdjF0VTlUekE</feedKey>
      <feedKey>0AoIUQevB0Yo9dG5Dcm1feFpmWkJMOG1LNG8tcWZRTmc</feedKey>
    </Key>
    <Key name="languagemissions_f_epb">
      <feedKey>0AoIUQevB0Yo9dDNENFpmQ0Itd0xoeDdVWXUxUkVCMEE</feedKey>
      <feedKey>0AoIUQevB0Yo9dE1xZGRiOGxienczTEdQMkFFUXdObFE</feedKey>
      <feedKey>0AoIUQevB0Yo9dE5lWVJ2TWhHS2JLOGZxWFB2OEFxTFE</feedKey>
      <feedKey>0AoIUQevB0Yo9dGtjZDBQSnZOZGhqM0JERlhkdVBpMWc</feedKey>
      <feedKey>0AoIUQevB0Yo9dEFZaWdLY2RxdkpHZm9IQXgzVTJKUmc</feedKey>
      <feedKey>0AoIUQevB0Yo9dEVzcDZBLThzUXBNQkxBQWZueFh2d2c</feedKey>
      <feedKey>0AoIUQevB0Yo9dEdmaGRkRVVaaUVOeWFtRzE0RDdORVE</feedKey>
      <feedKey>0AoIUQevB0Yo9dEp1b2wwVUQ1dGszdUMzdHVEd3ZCdFE</feedKey>
      <feedKey>0AoIUQevB0Yo9dFZRMVBJSmd2VnJTM0xvd2ZtOFFZTFE</feedKey>
      <feedKey>0AoIUQevB0Yo9dFo5SGhUNkI2ZmkxN0tobVpfQ2ZPNVE</feedKey>
      <feedKey>0AoIUQevB0Yo9dG8yaUlOM3ZJYTdGSVJ0ZDQwNDJ5QUE</feedKey>
      <feedKey>0AoIUQevB0Yo9dDBrNlZYRFZySzhleUQzcWxWc0dCX3c</feedKey>
      <feedKey>0AoIUQevB0Yo9dHJYQmttdTBZd1dYZEFnS1hQWDM2YXc</feedKey>
    </Key>
    <Key name="languagemissions_f_epc">
      <feedKey>0AoIUQevB0Yo9dGxWX05GcUFuME94M3YtZngxRkFobnc</feedKey>
      <feedKey>0AoIUQevB0Yo9dGtWRXRCZzVFT3NRN05xNTBwS0lYbUE</feedKey>
      <feedKey>0AoIUQevB0Yo9dGtxVlBjTUVUVUo5b291Qks4YW00X3c</feedKey>
    </Key>
  </keys>
</context>